{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.">
    <title>{% block title %}Aula Django - {% endblock %}</title>  
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
    </head>
    <body>
        <header class="header d-flex justify-content-between align-items-center">
            <h1>Logo</h1>
            <nav class="menu">
                <a href="{% url 'home' %}">Ir para Home</a> 
                <a href="{% url 'produtos' %}">Ir para Produtos</a>                     
                <a href="{% url 'clientes' %}">Ir para Clientes</a>
                <a href="{% url 'posts' %}">Posts</a>
            </nav>
        </header>
        <main>
            {% block content%}

            {% endblock %}
        </main>
        <footer>
            <p>Rodapé feito com Django</p>
        </footer>

    </body>
    </html>